:root {

  --text-color:#58257b ; 
  --text-bar-color: #d9a0cd;
  --color-body:#e9d8f4 ;
  --color-top-nav-hover:#db7093;

}
body {
	background: var(--color-body);

}
.header {
	color: var(--text-color);
  background-color: var(--color-body);

}
.topnav {
	background-color: var(--text-color);
}
.topnav a:hover {
  background-color:var(--color-top-nav-hover) ;
  color: var(--text-bar-color);
}
.card {
	background-color: var(--text-bar-color);
  color: var(--text-color);
  
}
.chat{
  color: var(--text-color);
}