:root {

  --text-color:blue;
  --text-bar-color: #6daffe ;
  --color-body:#97f2f3;
  --color-top-nav-hover:green;
  

}
body {
	background: var(--color-body);

}
.header {
	color: var(--text-color);
  background-color: var(  --color-body);
}
.topnav {
	background-color: var(--text-color);
}
.topnav a:hover {
  background-color:var(--color-top-nav-hover) ;
  color: var(--text-bar-color);
}
.card {
	background-color: var(--text-bar-color);
  	color: var(--text-color);
    

}
.chat{
  color: var(--text-color);
}